form.form-horizontal(name="badgeForm")
  .form-group
     label.col-md-3.control-label(for="badgeName") Badge Name
     .col-md-9
       input.form-control(name="badgeName" ng-model="badge.badgeName" placeholder="Badge Name" ng-disabled="isSaving")
  .form-group
     label.col-md-3.control-label(for="image") Image
     .col-md-9
       input.form-control(type= "file" files-model="badge.image"  placeholder="Image" ng-disabled="isSaving")  

  .form-group
     label.col-md-3.control-label(for="description") Description
     .col-md-9
       input.form-control(name="description" ng-model="badge.description" placeholder="Description" ng-disabled="isSaving")  
  .form-group
     label.col-md-3.control-label(for="formular") Formular
     .col-md-9
       input.form-control(name="formular" ng-model="badge.formular" placeholder="Badge Formular" ng-disabled="isSaving" ng-readonly=true)
  .form-group
     label.col-md-3.control-label(for="property") Property
     .col-md-9
        select(ng-model="badge.property" ng-change="updateFormular()")
          option(value="gamesPlayed") GamesPlayed
          option(value="gamesWon") GamesWon
          option(value="point") Point
  .form-group
     label.col-md-3.control-label(for="relation") Relation
     .col-md-9
        select(ng-model="badge.relation" ng-change="updateFormular()")
          option(value="equal") Equal
          option(value="bigger") Bigger
          option(Value="smaller") Smaller
  .form-group
     label.col-md-3.control-label(for="value") Value
     .col-md-9
        input.form-control(type="number" name="value" ng-model="badge.value" placeholder="Value" ng-pattern="integerval" required=true ng-disabled="isSaving" ng-change="updateFormular()")
        span(ng-show="badge.value.$invalid") No letters  
