extends ../layout/layout.pug

block content
  .row
    .col-md-12
      h1.page-header Games
  .row(ng-show="isLoading")
    .col-md-12
      include ../common/spinner.pug
  div(ng-hide="isLoading")
    .row
      .col-md-12
        table.table.table-striped.games
          thead
            tr
              td
                strong Name
              td
                strong Email
              td.status
                strong Status
              td
          tbody
            tr(ng-repeat="game in games")
              td {{ game.gameName }}
              td {{ game.gameCreator.firstName }}
              td {{ game.status }}
              td.actions.text-right
                button.btn.btn-default.btn-primary(title="View" ng-click="viewGame(game)" ng-disabled="isSaving") View
